/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* Core Styles*/

* {
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }

body {
    margin: 0;
    background: green;
    color: white;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    height: 100%;
    

}

header {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
}

.toggle {
    cursor: pointer;
    background: green;
    border: 1px solid black;
    padding-left: 1rem;
}

#section-a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    height: auto;
    padding-bottom: 10rem;
}

@media (max-width:700px) {
    #section-a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        height: auto;
        
    }
}

img {
    border: 4px solid black;
    height: 328px;
    width: 428px;
    
} 

@media (max-width: 700px) {
    img {
        height: 128px;
        width: 228px;
    }
}

@media (max-width: 700px) {
    .aboutIMG {
        height: 228px;
        width: 428px;
    }
}

h1 {
    margin: 0;
    padding: 1.5rem;

}

p {
    margin: 0;
    padding: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: none;
    padding: 1rem 1rem;
    margin: .5rem 0;
    color: white;
}

@media (max-width: 700px) {
    nav {
        display: block;
        align-items: center;
    }
}

nav a {
    color: white;
    text-decoration: none;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.navLinks {
    display: flex;
    justify-content: space-around;
    width: 25%;
}
@media (max-width: 700px) {
    .navLinks {
        width: 90%;
    }
}

li {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-left: 2rem;
}
.toggle {
    margin: 2rem;
}

@media (max-width: 700px) {
    .toggle{
        margin: .5rem 
    }
}

.toggle:hover {
    background: white;
    color: green;
}

body .bg-image {
    position: absolute;
    background: #333 url('https://images.pexels.com/photos/1050312/pexels-photo-1050312.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    
}

#showcase h1 {
    padding-top: 50px;
    padding-bottom: 10px;
}

#showcase .content-wrap,
#section-a .content-wrap {
    padding: 0 1.5rem;
}

footer {
    padding: 2rem;
    background: black;
}

.top-bar {

    width: 100%;
    padding: 5px;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}